:root {
    --color-primary: #4B49AC;
    --color-secondary: #98BDFF;
    --color-accent-1: #7DA0FA;
    --color-accent-2: #7978E9;
    --color-accent-3: #F3797E;
    --color-text: #1E283D;
}

/* Vous pouvez ajouter d'autres styles personnalisés ici si nécessaire */
