{% extends "base.html" %}

{% block title %}Set New Password{% endblock %}
{% block content %}
<div class="max-w-md mx-auto bg-white rounded-lg shadow-sm overflow-hidden">
    <div class="py-4 px-6 bg-[#4B49AC] text-white text-center">
        <h2 class="text-2xl font-bold">Set New Password</h2>
    </div>
    {% if validlink %}
        <form method="post" class="py-4 px-6">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-4">
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-[#1E283D] mb-2">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-red-500 text-xs italic">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div> 
            {% endfor %}
            <div class="flex items-center justify-between mt-6">
                <button type="submit" class="bg-[#4B49AC] hover:bg-[#7DA0FA] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Set New Password
                </button>
            </div>
        </form>
    {% else %}
        <div class="py-4 px-6">
            <p class="text-gray-600">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            <div class="mt-6">
                <a href="{% url 'accounts:password_reset' %}" class="bg-[#4B49AC] hover:bg-[#7DA0FA] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Request New Reset Link
                </a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}